/*------------------BENDA DALIS--------------------------------------------------------*/

main {
    width: 1320px;
    margin: auto;
    background-color: aquamarine;
}

/*-------------------HEADER------------------------------------------------------------*/

header {
    width: 100%;
    height: 45px;
    background-color: #2f364a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    color: #78819c;
    display: flex;
}

.bubbles {
    display: flex;
    width: 180px;
    padding-top: 20px;
    padding-left: 20px;
}

.red_bubble {
    background-color: #e76846;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin-right: 3px;
}

.yellow_bubble {
    background-color: #fabe00;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin-right: 3px;
}

.green_bubble {
    background-color: #52bea6;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin-right: 3px;
}

.myBookApp {
    margin: auto;
    margin-right: 0;
    width: 100px;
    padding-right: 210px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.fa-book {
    padding-right: 5px;
}

.right {
    width: 1120px;
    display: flex;
    justify-content: flex-end;
}

.help_support {
    display: flex;
    justify-content: flex-end;
    margin-top: 19px;
    margin-right: 17px;
    width: 240px;
}

.help_support p {
    margin: 0;
}

.help_support p:first-child::after {
    content: "●";
    color: #1f2637;
    padding-left: 10px;
    padding-right: 10px;
}

.login {
    width: 158px;
    padding-top: 7px;
    display: flex;
    justify-content: space-evenly;
    background-color: #15a4fa;
    border-top-right-radius: 5px;
}

.login img {
    height: 30px;
    width: 30px;
    border: 1.5px white solid;
    border-radius: 50px;
    display: inline;
}

.login p {
    color: #ffffff;
}

/*-------------------NAV KAIRE---------------------------------------------------------*/

nav {
    float: left;
    width: 200px;
    height: 900px;
    background-color: #1f2637;
    font-family: Arial;
    color: #78829d;
    font-size: 12px;
}

nav a {
    text-decoration: none;
    color: #78829d;
}

.nav_separator {
    background-color: #19202e;
    height: 4px;
    border-top: 1px solid #141824;
    border-bottom: 1px solid #282f41;
}

.nav_add_a_book {
    height: 114px;
    line-height: 114px;
    text-align: center;
    font-size: 16px;
}

.nav_add_a_book button {
    background-color: #f2795a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    height: 44px;
    width: 160px;
}

.nav_navigation {
    height: 233px;
    padding-top: 0px;
}

nav ul {
    padding-left: 0px;
}

.nav_navigation li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    list-style: none;
}

nav img {
    padding-right: 12px;
}

.nav_selection {
    height: 165px;
}

.nav_selection li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    list-style: none;
}

nav li:hover {
    background-color: #15a4fa;
}

nav a:hover {
    color: #ffffff;
}

.nav_history {
    color: #4f5a6f;
    font-size: 11px;
    padding-top: 30px;
    padding-left: 0px;
}

.nav_history img {
    clear: both;
    float: left;
    transform: scale(1.2);
}

.nav_history div {
    padding-left: 20px;
}

nav span {
    color: #677b92;
}


/*-------------------SECTION (Desine puse)----------------------------------------------*/

section {
    width: 1120px;
    margin-left: 200px;
}

/*.......BOOK FILTER.........*/

.bookFilter {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    font-family: Arial;
    overflow: hidden;
    background-color: #eaeef2;
}

.bookFilter p {
    padding: 13px;
    color: #52617a;
    font-size: 17px;
    border-bottom: 1px solid #d5dee8;
}

.bookFilter a {
    margin-left: 6px;
    margin-bottom: 18px;
    float: left;
    display: block;
    color: #95a7c1;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 14px;
}

.bookFilter a:hover {
    background-color: #95a7c1;
    color: white;
    border-radius: 32px 32px 32px 32px;
}

/*
.bookFilter a.active {
    background-color: #95a7c1;
    color: white;
    border-radius: 32px 32px 32px 32px;
}
*/

.bookFilter input[type=text] {
    width: 230px;
    float: right;
    padding: 5px;
    margin-right: 6px;
    border-radius: 12px;
    border: 1px solid #c7cfd8;
    font-family: Arial;
    font-size: 14px;
    color: #95a7c1;
    background-image: url(../IMG/if_icon-111-search_314478.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

/*
@media screen and (max-width: 600px) {
    .bookFilter a, .bookFilter input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .bookFilter input[type=text] {
        border: 1px solid #ccc;
    }
}
*/

/*.......BOOKS      .........*/

.books {
    width: 100%;
    height: 780px;
    background-color: white;
    /*bp: pakeiciau is zalios*/
}

/*bp: pagrindinis konteiners*/
/*BP!!!!!!!!! PAZIURETI, kokie tiksliai tarpai tarp grido*/
.books_area{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}


/*BP!!!!!!!!! PAZIURETI, kokie tiksliai tarpai tarp grido*/
.books_grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 360px;
    grid-gap: 15px;
    
/*BENDRAI!!!!!!!!! pakišti prie bendro teksto nustatymus*/
    font-family: Arial;
    font-size: 14px;
}

.books_scrollbar {
    overflow-y: scroll;
    max-height: 730px;
}

#books_scrollbar-style::-webkit-scrollbar{
	width: 10px;
	background-color: #ffffff;
}
#books_scrollbar-style::-webkit-scrollbar-thumb{
    /*bp:parinkta su color droperiu ir color pickeriu*/
	background-color: #ccd5e4;
    border-radius: 4px;
}

.books_scroll-barstyle::-webkit-scrollbar-track{
	background-color: #ffffff;
}


/*bp: 1 knygos erdve*/

.books_box {
    background-color: white;
}

.books img {
    /*BP:!!!!!!!!!!!!!! DAR PAZIURETI, KAIP TEN TIKSLIAI PAVEIKSLELI SUFORMATUOTI, KAD JIS GRAZIAI UZSIPILDYTU*/
    width: 100%;
    height: 76%;
    background-size: contain;
    border-radius: 6px;
}

.books h3 {
    padding-top: 13px;
    margin: 0;
    color: #444c63;
    /*bp:parinkta su color droperiu ir color pickeriu*/
}

.books p {
    padding-top: 7px;
    padding-bottom: 2px;
    margin: 0;
    color: #6f7d95;
}

/*bp: rating skale*/

.books_rating-static {
    width: 90px;
    height: 18px;
    display: block;
    background: url(../IMG/books_ratingStars.png);
}

.books_rating-0 {
    background-position: 0 0;
}

.books_rating-5 {
    background-position: 0 -18px;
}

.books_rating-10 {
    background-position: 0 -36px;
}

.books_rating-15 {
    background-position: 0 -54px;
}

.books_rating-20 {
    background-position: 0 -72px;
}

.books_rating-25 {
    background-position: 0 -90px;
}

.books_rating-30 {
    background-position: 0 -108px;
}

.books_rating-35 {
    background-position: 0 -126px;
}

.books_rating-40 {
    background-position: 0 -144px;
}

.books_rating-45 {
    background-position: 0 -162px;
}

.books_rating-50 {
    background-position: 0 -180px;
}



/*-------------------FOOTER------------------------------------------------------------*/

footer {
    clear: both;
    width: 100%;
    height: 45px;
    background-color: #181e2c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    color: #ffffff;
    justify-content: flex-end;
    text-align: center;
}

.help {
    width: 55px;
    padding-top: 15px;
    background-color: #1f2637;
}

.settings {
    width: 55px;
    padding-top: 15px;
    background-color: #15a4fa;
    border-bottom-right-radius: 5px;
}
