.buy_books_box {
    clear: both;
    padding: 15px;
}



.buy_books_box_book_about {
    height: 100%;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.buy_books_box_book_amount {
    height: 100%;
    width: 10%;
    background-color: whitesmoke;
    float: left;
    padding-top: 20px;
}

.buy_books_box_book_price {
    height: 100%;
    width: 10%;
    background-color: whitesmoke;
    float: right;
    padding-top: 20px;
    margin: 0;
    color: #6f7d95;
    font-weight: 500;
    font-size: 0.9em;
}

.buy_books_box_book_summary {
    padding-top: 7px;
    padding-bottom: 2px;
    margin: 0;
    color: #6f7d95;
    font-size: 0.8em;
}

.buy_books_box_about_book {
    height: 100%;
    float: right;
}

.buy_books_box_book_img {
    width: 200px;
    height: auto;
    border-radius: 6px;
    float: left;
}

.buy_books_box h3 {
    padding-top: 13px;
    margin: 0;
    color: #444c63;
}

.buy_books_box p {
    padding-top: 7px;
    padding-bottom: 2px;
    margin: 0;
    color: #6f7d95;
}


/*..................AMOUNT AND PRICE...................*/

.buy_books_amount_input {
    width: 30px;
    font-size: 0.9em;
    text-align: right;
}

.buy_books_amount_input::placeholder {
    font-size: 0.9em;
    text-align: right;
    padding-right: 2px;
}

.buy_books_amount_button_change_amount {
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    padding: 2px;
    text-align: center;
    background-color: #eaeef2;
    border-radius: 5px;
}

.buy_books_book_price {
    padding-top: 20px;

}

/*.......................TOTAL PRICE AREA...................*/

/* #buy_books_total_price_area {
    padding: 0;
    margin: 0;
    margin-left: 710px;
    margin-bottom: 18px;
    float: left;
    color: #95a7c1;
    border: none;
    padding: 4px 8px;
    font-size: 14px;
} */

.buy_books_button_buy {
    margin: 0;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: -10px;
    width: 150px;
    height: 40px;
    padding: 2px;
    text-align: center;
    background-color: #444c63;
    color: white;
    border-radius: 5px;
    float: left;
}

.buy_books_box_book_amount_recyclebin {
    max-width: 20px;
    max-height: 20px;
    padding-left: 43px;
    padding-top: 10px;
}
