.books_box {
    background-color: white;
}

img {
    width: 200px;                  /* reikai konkretaus dydzio arba 100proc gride kuriam jis atsidurs, bet testinat jien esideda i grida ir reik speliot matmenis, ilgi auksti veliau pakeist procentais*/
    background-size: contain;
    border-radius: 6px;
}

h3 {
    padding-top: 13px;
    margin: 0;
    color: #444c63;
    /*bp:parinkta su color droperiu ir color pickeriu*/
}

p {
    padding-top: 7px;
    padding-bottom: 2px;
    margin: 0;
    color: #6f7d95;
}

/*bp: rating skale*/

.books_rating_static {
    width: 90px;
    height: 18px;
    display: block;
    background: url('./books_ratingStars.png');
}
.oranzine{
    color: #FFAB00;
}