.style {
    padding: 9px;
    background-color: #eaeef2;
}

.text_style {
    margin-left: 710px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #52617a;
}

/* Galima problema del subyrejimo! */