.footeris {
    text-align: center;
    width: 1300px;
    height: 50px;
    margin:auto;
    background-color: #191952;
}

.jurgiui{
    color: yellow;
    display: inline;
    padding: 5px 20px;
    line-height: 50px;
}