.header_popup {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: #444c63;
}

.header_modal_content {
    position: relative;
    background-color: #fefefe;
    margin: 7% auto;
    padding: 15px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 30%;
    height: 375px;
}

.header_form_bordered {
    margin: auto;
    width: 80%;
    padding: 20px;
    padding-top: 0;
    border: silver solid 1px;
    border-radius: 5px;
}

h3 {
    margin: auto;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 15px;

}

.header_container h2 {
    padding-bottom: 10px;
}

.header_container input,
.header_submit {
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid #888;
    border-radius: 2px;
    box-sizing: border-box;
}

.header_modal_content button,
.header_modal_content label,
.header_reg a,
.header_reg_modal_content button {
    color: #2f364a;
}

.header_container .header_remember,
.header_container {
    margin: 0;
    width: 20px;
    display: inline;
    margin-bottom: 20px;
}

.header_login_close {
    color: #444c63;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
}

.header_login_close:hover,
.header_login_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button:hover,
.header_reg:hover,
.header_reg_to_login:hover {
    opacity: 0.8;
    cursor: pointer;
}


.header_reg_content .header_modal_content {
    height: 450px;
} 