/*.......BOOK      .........*/

.box {
    clear: both;
    padding: 15px;
    text-align: left; 
}

.img {
    width: 30%;
    height: 100%;
    background-size: contain;
    border-radius: 6px;
    padding: 10px;
    float: left;
}

.box img {
    width: 400px;
}

.about_price_action {
    width: 70%;
    height: 580px;
}

.about {
    height: 70%;
    padding-left: 20px;
    padding-right: 20px;
}

.price_action {
    color: #6f7d95;
    font-weight: 500;
    font-size: 0.9em;
}

.summary {
    padding-top: 7px;
    padding-bottom: 2px;
    margin: 0;
    color: #6f7d95;
    font-size: 0.8em;
}

.box h3 {
    padding-top: 13px;
    margin: 0;
    color: #444c63;
}

.box p {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    color: #6f7d95;
}

.price_action p {
    font-size: 2em;
    padding-bottom: 10px;
}

.price_action div {
    margin-right: 200px;
    margin-top: 10px;
}
