header {
    width: 100%;
    height: 45px;
    background-color: #2f364a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 13px;
    display: flex;
}

.header_bookStore {
    margin: auto;
    width: 100px;
    color: #78819c;
    text-align: center;
    font-size: 11.5px;
    font-weight: bold;
    padding-left: 210px;
}

header a {
    text-decoration: none;
    color: #c3c8db;
    width: 75px;
    margin: auto;
    margin-right: 0px;
    margin-left: 10px;
}

header a :hover {
    color: #78819c;
}

.helpas {
    width: 90px;
}

 .helpas:before {
    float: left;
    content: "●";
    color: #1f2637;
    padding-right: 10px;
}