header {
    width: 100%;
    height: 45px;
    background-color: #2f364a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 13px;
    color: #78819c;
    display: flex;
}

.header_bookStore {
    margin: auto;
    width: 100px;
    color: #78819c;
    text-align: center;
    font-size: 11.5px;
    font-weight: bold;
    padding-left: 210px;
}