
.book_filter {
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    background-color: #eaeef2;
}

.book_filter_p {
    float: left;
    padding: 13px;
    color: #52617a;
    font-size: 17px;
}

.apatine{
    margin:auto;        /*kad butu centre*/
    clear: both;        /*be clearo ji nukeliauja i virsu, issiaiskinki kodel*/
    border-bottom: 1px solid  #52617a;   /*linijos storis ir spalva*/
    width: 96%;         /*kad butu 2proc tarpelis pradzioje ir pabaigoje*/
}

