
.book_filter {
    width: 100%;
    height: 80px;
    background-color: #eaeef2;
    border-bottom: 1px #95a7c1 solid;  /* Linija tarp SubHeader ir SubheaderBottom. */
}

.book_filter_p {
    float: left;
    padding: 13px;
    color: #52617a;
    font-size: 17px;
}


