.knopf {
    margin-left: 6px;
    margin-top: 13px;
    float: left;
    display: block;
    color: #95a7c1;
    text-align: center;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 14px;
}

.knopf:hover {
    background-color: #95a7c1;
    color: white;
    border-radius: 32px 32px 32px 32px;
}