.mygtukas{
    background-color: yellow;
    color: orange;
    box-shadow: 0px 2px 3px orange;
    width: 250px;
    line-height: 40px;
    height: 40px;
    display: inline;
    margin-left: 10px;
}
.mygtukas:hover{
    background-color: orange;
    color: orangered;
}