.input[type=text] {
    clear: both;
    margin-left: 290px;
    padding: 8px 6px;
    width: 350px;
    border-radius: 16px 0px 0px 16px;
    border: none;
    color: #95a7c1;
    position: absolute;
}

.search_container_button {
    position: relative;
    margin: 8px;
    width: 30px;
    left: 1030px;
    border-radius: 0px 16px 16px 0px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #95a7c1;
}

.backColor {
    background-color: #eaeef2;
    padding: 20px;
}