.input[type=text] {
    clear: both;
    margin-left: 400px;
    margin-top: -4px;
    padding: 6px 12px;
    width: 350px;
    border-radius: 16px 0px 0px 16px;
    border: none;
    color: #95a7c1;
    position: absolute;
}

.search_container_button {
    padding: 6px 10px;
    margin-right: 16px;
    margin-top: -4px;
    position: relative;
    left: 774px;
    border-radius: 0px 16px 16px 0px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #95a7c1;
}

.backColor {
    background-color: #eaeef2;
    padding: 20px;
}