.input[type=text] {
    clear: both;
    height: 30px;
    padding: 0;
    padding-left: 10px;
    margin-left: 290px;
    width: 350px;
    border-radius: 16px 0px 0px 16px;
    border: none;
    color: #95a7c1;
    position: absolute;
}

.search_container_button {
    position: relative;
    height: 30px;
    width: 25px;
    left: 1039px;
    padding-left: 10px;
    border-radius: 0px 16px 16px 0px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #95a7c1;
}

.search_container_button i {
    width: 10px;
    margin: auto;
    position: relative;
    bottom: 28px;
    }

.backColor {
    background-color: #eaeef2;
    height: 33px;
    padding: 20px;
}


