.buy_books_button_dark {
    width: 150px;
    height: 25px;
    padding-top: 8px;
    text-align: center;
    background-color: #444c63;
    color: white;
    border-top: 1px solid #5a6687;
    border-left: 1px solid #5a6687;
    border-right: 2px solid #5a6687;
    border-bottom: 2px solid #5a6687;
    border-radius: 5px;
    float: left;
}

.buy_books_button_light {
    width: 150px;
    height: 25px;
    padding-top: 8px;
    text-align: center;
    background-color: #6f7d95;
    color: white;
    border-top: 1px solid #95a7c1;
    border-left: 1px solid #95a7c1;
    border-right: 2px solid #95a7c1;
    border-bottom: 2px solid #95a7c1;
    border-radius: 5px;
    float: left;
}

.buy_books_button_dark_small {
    width: 115px;
    height: 22px;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 9px;
    text-align: center;
    background-color: #444c63;
    color: white;
    border-top: 1px solid #5a6687;
    border-left: 1px solid #5a6687;
    border-right: 2px solid #5a6687;
    border-bottom: 2px solid #5a6687;
    border-radius: 3px;
    float: left;
    font-size: 0.9em;
}

.buy_books_button_light_small {
    width: 115px;
    height: 22px;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 9px;
    text-align: center;
    background-color: #6f7d95;
    color: white;
    border-top: 1px solid #95a7c1;
    border-left: 1px solid #95a7c1;
    border-right: 2px solid #95a7c1;
    border-bottom: 2px solid #95a7c1;
    border-radius: 3px;
    float: left;
    font-size: 0.9em;
}


/*sukuriau papildoma klase SubHeaderBottomBuyBook klasei*/
.buy_books_button_dark_exp { 
    width: 150px;
    height: 25px;
    padding-top: 8px;
    margin-top: -45px;
    margin-right: 54px;
    text-align: center;
    background-color: #444c63;
    color: white;
    border-top: 1px solid #5a6687;
    border-left: 1px solid #5a6687;
    border-right: 2px solid #5a6687;
    border-bottom: 2px solid #5a6687;
    border-radius: 5px;
    float: right;
 }

  .buy_books_button_dark_SubHeaderBottomWishList {
    width: 150px;
    height: 25px;
    padding-top: 8px;
    color: green;
    margin-right: 40px; /* pridejau SubHeaderBottomWishList elementui(Danielius)*/
    text-align: center;
    background-color: #444c63;
    color: white;
    border-top: 1px solid #5a6687;
    border-left: 1px solid #5a6687;
    border-right: 2px solid #5a6687;
    border-bottom: 2px solid #5a6687;
    border-radius: 5px;
    float: right;       /* pakeiciau iš float: left SubHeaderBottomWishList elementui(Danielius)*/
 }

 .buy_books_button_light_SubHeaderBottomWishList {
    width: 150px;
    height: 25px;
    padding-top: 8px;
    margin-right: 20px; /* pridejau SubHeaderBottomWishList elementui(Danielius)*/
    text-align: center;
    background-color: #6f7d95;
    color: white;
    border-top: 1px solid #95a7c1;
    border-left: 1px solid #95a7c1;
    border-right: 2px solid #95a7c1;
    border-bottom: 2px solid #95a7c1;
    border-radius: 5px;
    float: right; /* pakeiciau iš float: left SubHeaderBottomWishList elementui(Danielius)*/
}


/* Mygtuku hover nustatymai */
.buy_books_button_dark:hover, .buy_books_button_light:hover, 
.buy_books_button_dark_small:hover, .buy_books_button_light_small:hover, 
.buy_books_button_dark_exp:hover, .buy_books_button_dark_SubHeaderBottomWishList:hover, 
.buy_books_button_light_SubHeaderBottomWishList:hover {
    cursor: pointer;
    opacity: 0.7;
}